html
  head
    link(rel="shortcut icon" href="assets/favicon.ico")
  body
    .container
      h1 Merry Crosstmas to your friends!!!
      card

    script(src="tags/card.js" type="riot/tag")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.0.14/riot+compiler.js")
    script.
      riot.mount('card')
