.header {
  text-align: center;
  margin: 2em 0;

  i {
    vertical-align: middle;
    margin-right: .3em;
  }

  &__title {
    font-size: 3em;
    line-height: 1.25em;
    margin: 0;
  }

  &__linetag {
    font-weight: 700;
    margin: .5em 0;

    &:after {
      background: $COLOR_WHITE;
      content: '';
      display: block;
      height: 2px;
      margin: 1.5em auto .5;
      position: relative;
      width: 50%;
    }
  }
}
