<div class="editor">
  <div class="editor__toolbar">
    <!-- Add font size dropdown -->
  <select class="ql-size">
    <option value="10px">Small</option>
    <option selected>Normal</option>
    <option value="18px">Big</option>
    <option value="32px">Huge</option>
  </select>
  <span class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
  </span>
  <span class="ql-formats">
    <select class="ql-color"></select>
    <select class="ql-background"></select>
  </span>
  <span class="ql-formats">
    <select class="ql-align"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-clean"></button>
  </span>
  </div>
  <div class="editor__container">
    <div style="text-align: center;"><span style="font-size: 32px;">Hello!!!</span></div>
    <div style="text-align: center;"><br></div>
    <div>Do you remember our conversation? We decided to set up a Santa gift exchange between friends with a budget of <b>20$</b></div>
    <div><br></div>
    <div>You have to find a gift for @friend, good luck :)</div>
    <div><br></div>
    <div>See you at the end of the year</div>
  </div>
</div>

