* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../assets/images/overlay.png'), linear-gradient(60deg, $BG_BACKGROUND_LEFT 5%, $BG_BACKGROUND_RIGHT), url('../assets/images/background.png');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &.overlay {
    overflow: hidden;

    &:before {
      content: '';
      background: $OVERLAY;
      position: absolute;
      z-index: 10000;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 1em;
}

.explanation {
  margin-top: 1em;
  text-align: center;
  font-size: 24px;
  text-shadow: 1px 1px $COLOR_WHITE;
  padding: 0 .5em;
}
