contacts-list
  p.explanation Complete your friends informations (minimum 3 people)
  .contact-list
    contact(each='{contact in contactModel.contacts}' contact='{contact}')

  .contact-control
    .contact-control__cell
      i.badge.icon.icon-group(onclick='{contactModel.add}')

    .contact-control__cell(class='{ invalid: !isSendable }')
      i.badge.icon.icon-paper(onclick='{sendMails}')

  script.
    var self = this;
    
    self.isSendable = contactModel.isValid();

    contactModel.on('remove', function(){
      self.isSendable = contactModel.isValid();
      self.update();
    })
    
    contactModel.on('mailsUpdated', function(){
        self.isSendable = contactModel.isValid();
        self.update();
    })
    
    contactModel.on('add', function(){
        self.isSendable = contactModel.isValid();
        self.update();
    })
    
    contactModel.on('nameUpdated', function(){
        self.isSendable = contactModel.isValid();
        self.update();
    })
    
    contactModel.on('sent', function(){
        this.unmount()
    })
    
    this.sendMails = function() {  
      contactModel.send()
        .then(function() {
          riot.mount('result');
        }, function(e, url) {
          alert('server error');
        })
    }
