.card {
  background: $COLOR_WHITE;
  margin-bottom: 1em;
  box-shadow: $shadow-card;
  padding: 1.4rem;
  position: relative;

  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 10px;
    color: $COLOR_GREY_LIGHT;
    cursor: pointer;

    &:hover {
      background: $COLOR_GREY_4;
    }
  }

  &.is-removing {
    * {
      display: none;
    }
  }
}
