.contact-control {
  display: table;
  width: 100%;

  &__cell {
    display: table-cell;
    vertical-align: middle;
  }

  .invalid {
    background: $COLOR_GREY_LIGHT;
    color: $COLOR_GREY_1;
  }
}
