.content-container {
  margin: auto;
  background: $COLOR_WHITE;
  box-shadow: $shadow-card;

  .formatting-container {
    border-bottom: 1px solid $COLOR_GREY_1;
    padding: 5px 12px;
    text-align: center;
    background: $COLOR_PRIMARY_2;

    .ql-active,
    button:hover {
      color: $COLOR_PRIMARY;
    }
  }

  .row {
    display: inline-block;
    margin: .4em 0;
  }

  .editor-container {
    height: 200px;
  }
}
