.content-container {
  margin: auto;
  background: $COLOR_WHITE;

  .formatting-container {
    border-bottom: 1px solid $COLOR_GREY_1;
    padding: 5px 12px;

    .ql-active,
    button:hover {
      font-weight: bold;
    }
  }

  .editor-wrapper {
    border: 1px solid $COLOR_GREY_2;
    box-shadow: 0 0 2px 2px $COLOR_GREY_3;
  }

  .editor-container {
    height: 200px;
  }
}
